/* 排版 */
.VerticalDiv {
    height: 570px;
    margin: 0 auto;
}

.InfoSection {
    /* display: table-cell; 	vertical-align: bottom; 	text-align: right; 	height: 34px; 	width: 30%; */
    position: absolute;
    right: 20px;
    top: 5px;
    color: #fff;
    font-weight: bold;
}

    .InfoSection a {
        color: #fff;
    }

/* 圖示 */
.iconTaiwan {
    background-image: url('i18nCountryIcon.jpg');
    background-repeat: no-repeat;
    background-position: -326px -425px;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: bottom;
    cursor: pointer;
}

.iconGoTop {
    display: none;
    position: fixed;
    padding: 10px 10px;
    font-size: 15px;
    background: #777;
    color: white;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    filter: alpha(Opacity=50, Style=0);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.iconGoBack {
    display: none;
    position: fixed;
    padding: 10px 10px;
    font-size: 15px;
    background: #777;
    color: white;
    font-weight: bold;
    cursor: pointer;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
    filter: alpha(Opacity=50, Style=0);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

.b-quick-bookmark-content {
    display: none;
    position: fixed;
    background: #777;
    font-size: 16px;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    filter: alpha(Opacity=50, Style=0);
    -moz-opacity: 0.5;
    opacity: 0.5;
}

    .b-quick-bookmark-content .b-quick-bookmark-item {
        color: white;
        text-decoration: none;
    }

        .b-quick-bookmark-content .b-quick-bookmark-item:hover {
            font-weight: bolder;
            color: #1DA6D5;
            font-size: 17px;
            border-right: 4px inset white;
        }

.b-quick-bookmark-content-header {
    background: #62a3d1;
    float: left;
    width: 15px;
    padding: 5px;
    color: white;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

.b-quick-bookmark-content-body {
    padding-top: 3px;
    padding-left: 25px;
    padding-bottom: 3px;
    width: 150px;
    display: none;
}

    .b-quick-bookmark-content-body > ul {
        list-style-type: circle;
    }

/* header 20140418 */
.header {
    height: 50px;
    background-image: url(../../IMG/bg_header.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-color: #211b1c;
    position: relative;
}

    .header .logo {
        position: absolute;
        font-size: 20px;
        color: #fff;
        top: -10px;
        left: 20px;
    }

.btn {
    border-radius: 0px;
}

.btn-primary {
    color: #ffffff;
    text-shadow: 0 0px 0 rgba(0, 0, 0, 0.25);
    background-color: #62a3d1;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);
    border-color: #62a3d1;
    background-image: linear-gradient(to bottom, #62a3d1, #62a3d1);
}

    .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
        color: #ffffff;
        background-color: #0044cc;
        background-position: 0 -45px;
    }

/* menuleft */
.menutitle {
    padding: 8px 15px;
    margin: 0 0 20px;
    list-style: none;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    background-color: #666;
    height: 25px;
}

    .menutitle .text-info {
        color: #fff;
    }

    .menutitle > li {
        text-shadow: 0 0px 0 #ffffff;
    }

.k-panel > li.k-item {
    color: #fff;
    font-weight: bold;
    background-color: #666;
}

.k-panelbar > .k-item > .k-link, .k-panel > .k-item > .k-link {
    border-bottom: 0px solid #838383;
}

.k-panel > li.k-item {
    border-bottom: 1px solid #838383;
}

.k-state-selected, .k-state-selected:link, .k-state-selected:visited, .k-list > .k-state-selected, .k-list > .k-state-highlight, .k-panel > .k-state-selected, .k-button:active, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal, .k-draghandle.k-state-selected:hover, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-marquee-color {
    color: #fff;
    background-color: rgba(98, 163, 209, 1);
    border-color: #4c4c4c;
}

.k-state-focused.k-state-selected, .k-list > .k-state-focused.k-state-selected, .k-listview > .k-state-focused.k-state-selected, td.k-state-focused.k-state-selected, .k-button:focus:active:not(.k-state-disabled):not([disabled]) {
    -webkit-box-shadow: inset 0 0 3px 4px rgba(98, 163, 209, 1);
    box-shadow: inset 0 0 3px 4px rgba(98, 163, 209, 1);
}

/* main 待辦清單 */
ul.maintitle {
    background-color: transparent;
}

.maintitle .active {
    background-color: #f4a525;
    color: #fff;
    padding: 9px;
    margin: 0px;
    margin-left: -15px;
    font-size: 18px;
    text-shadow: 0 0px 0 #ffffff;
}

.k-tabstrip-items .k-state-active, .k-ie7 .k-tabstrip-items .k-state-active .k-loading {
    background-color: #fff;
    background-image: none;
    border-color: #1db8b6;
}

.k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active {
    background-color: #fff;
    border-color: transparent;
    color: #2e2e2e;
}

    .k-state-active, .k-state-active:hover, .k-active-filter, .k-tabstrip .k-state-active {
        background-color: #fff;
        color: #2e2e2e;
    }

.well {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 0px;
    margin-bottom: 5px;
}

.k-block, .k-header, .k-grid-header, .k-toolbar, .k-grouping-header, .k-pager-wrap, .k-button, .k-draghandle {
    background-color: #fff;
}

.k-header {
    background-color: #eee;
}

.bar_action {
    border-top: 1px solid #c5c5c5;
    text-align: center;
    padding: 4px;
    margin-top: 10px;
}

.k-grid-footer .k-grid-header-wrap, .k-grid-header, .k-grid td, .k-grid td.k-state-selected, .k-grid-footer-wrap, .k-grid-pager {
    border-bottom: 1px solid #c5c5c5;
    border-left: 0px;
    border-right: 0px;
}

.btn-s {
    padding: 3px 4px 3px 4px;
    margin-top: 6px;
}

blockquote {
    border-color: #e17764;
    margin-bottom: 5px;
}

.well blockquote {
    border-color: #e17764;
    margin-bottom: 5px;
}

/* sidebar */
.demo-section h4 {
    border-left: 6px solid #f4a525;
    padding-left: 10px;
}

/* Grid Page Icon */
span.k-icon {
    margin-top: 5px;
}

.k-pager-numbers > li > .k-state-selected {
    margin-top: 5px;
}

.k-panelbar > li:nth-child(1) > span.menu01 {
    border-left: 10px solid #62a3d1;
}

.k-panelbar > li:nth-child(2) > span.menu02 {
    border-left: 10px solid #e1a938;
}

.k-panelbar > li:nth-child(3) > span.menu03 {
    border-left: 10px solid #6bb5b6;
}

.k-panelbar > li:nth-child(4) > span.menu04 {
    border-left: 10px solid #e17764;
}

/* Breadcrumb */
.BreadcrumbList ul {
    list-style: none;
    display: inline-table;
    margin: 0;
}

    .BreadcrumbList ul li {
        display: inline;
    }

        .BreadcrumbList ul li a {
            display: block;
            float: left;
            height: 6px;
            background: #62A3D1;
            background: rgba(98, 163, 209, 0.5);
            text-align: center;
            padding: 8px 5px 22px 12px;
            position: relative;
            margin: 0 10px 0 0;
            font-size: 16px;
            text-decoration: none;
            color: #fff;
        }

            .BreadcrumbList ul li a:after {
                content: "";
                border-top: 18px solid transparent;
                border-bottom: 18px solid transparent;
                border-left: 10px solid #62A3D1;
                border-left: 10px solid rgba(98, 163, 209, 0.5);
                position: absolute;
                right: -10px;
                top: 0;
                z-index: 1;
            }

            .BreadcrumbList ul li a:before {
                content: "";
                border-top: 18px solid transparent;
                border-bottom: 18px solid transparent;
                border-left: 10px solid;
                position: absolute;
                left: 0;
                top: 0;
            }

        .BreadcrumbList ul li:first-child a {
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }

            .BreadcrumbList ul li:first-child a:before {
                display: none;
            }

        .BreadcrumbList ul li:last-child a {
            padding-right: 12px;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background: #62A3D1;
            background: rgba(98, 163, 209, 1);
        }

            .BreadcrumbList ul li:last-child a:after {
                display: none;
            }

        .BreadcrumbList ul li a:hover {
            background-color: #0044cc;
        }

            .BreadcrumbList ul li a:hover:after {
                border-left-color: #0044CC;
            }

/* Case Info Table */
.table-Info > tbody > tr > td:nth-child(odd) {
    text-align: center;
    background-color: #F7F2F7;
}

input[disabled]:hover, select[disabled]:hover, textarea[disabled]:hover, input[readonly]:hover, select[readonly]:hover, textarea[readonly]:hover {
    background-color: #eeeeee;
}

.k-grid-header .k-header {
    border-width: 1px 1px 1px 0px;
}

.gridCaption {
    margin-bottom: 22px;
}

    .gridCaption > div:nth-child(1) {
        font-size: 17px;
        font-weight: bold;
        color: rgba(245, 19, 128, 0.70);
    }

    .gridCaption > div:nth-child(2) {
        font-size: 14px;
    }

.k-menu-vertical > .k-item {
    position: relative;
    float: none;
    border-style: solid;
    border-width: 0 1px 0 0;
    vertical-align: top;
    zoom: 1;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    display: inline-block;
    height: 30px;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

textarea,
.uneditable-input {
    display: inline-block;
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;
    color: #555555;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

.errorMessageStyle:hover {
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.inactiveOfImeMode {
    /*CSS3 (for IE, firefox) */
    ime-mode: inactive;
    /*safari */
    -webkit-ime-mode: inactive;
    /*Opera */
    -o-ime-mode: inactive;
}

.activeOfImeMode {
    /*CSS3 (for IE, firefox) */
    ime-mode: active;
    /*safari */
    -webkit-ime-mode: active;
    /*Opera */
    -o-ime-mode: active;
}

.autoOfImeMode {
    /*CSS3 (for IE, firefox) */
    ime-mode: auto;
    /*safari */
    -webkit-ime-mode: auto;
    /*Opera */
    -o-ime-mode: auto;
}

/* 必填加上星號 */
.requiredMark:before {
    content: "＊";
    color: red;
    display: inline;
}

.table {
    width: 100%;
    margin: 0px;
}

.k-grid td {
    white-space: nowrap; /*設定Grid的td內容不折行*/
}

/*IE 9(含)以下*/
html[lang='\en'] .b-template {
    width: 98.7%;
}

/*IE 10(含)以上*/
_:-ms-input-placeholder, :root .b-template {
    width: 98.7%;
}

/*調整Splitter的寬度*/
.k-splitter .k-splitbar-horizontal {
    width: 50px;
}

    /*調整Splitter內的按鈕大小*/
    .k-splitter .k-splitbar-horizontal .k-icon {
        width: 10px;
        margin-left: 22.5px;
    }

/*調整Splitter的寬度*/
.k-splitter .k-ghost-splitbar-horizontal, .k-splitter .k-splitbar-draggable-horizontal {
    width: 20px;
}

    /*調整Splitter內的按鈕大小*/
    .k-splitter .k-splitbar-draggable-horizontal .k-icon {
        width: 10px;
        margin-left: 7.5px;
    }

/*Splitter收合後的功能列*/
.b-splitter-icon-list {
    width: 40px;
    z-index: 0;
    position: fixed;
    top: inherit;
    left: 6px;
}
    /*Splitter收合後的功能列按鈕樣式*/
    .b-splitter-icon-list a {
        margin-bottom: 3px;
        background: rgba(98, 163, 209, 0.5);
        filter: alpha(Opacity=50, Style=0);
        -moz-opacity: 0.5;
        opacity: 0.5;
        -webkit-border-radius: 10%;
        -moz-border-radius: 10%;
        border-radius: 10%;
    }

        .b-splitter-icon-list a:hover {
            background: rgba(98, 163, 209, 1);
            padding: 11px 19px;
            filter: alpha(Opacity=100, Style=0);
            -moz-opacity: 1;
            opacity: 1;
        }

            .b-splitter-icon-list a:hover:not(*:root) {
                background: rgba(98, 163, 209, 1);
                filter: alpha(Opacity=100, Style=0);
                -moz-opacity: 1;
                opacity: 1;
                transform: scale(1.3,1.3);
            }

.DivFixedTop {
    position: fixed;
    box-shadow: 1px 3px 3px rgb(16, 129, 209);
    z-index: 1;
    background-color: white;
}
