<?xml version="1.0"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="GSS.Stirrup">
      <section name="NBase20" type="GSS.Stirrup.NBase20.Configuration.ConfigurationHandler,GSS.Stirrup.NBase20, Version=2.1.1000.5, Culture=neutral, PublicKeyToken=5298a1bd3421ecdc"/>
      <section name="ASPXTemplate" type="System.Configuration.NameValueFileSectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    <!-- Spring Framework related config -->
    <sectionGroup name="spring">
      <section name="context" type="Spring.Context.Support.ContextHandler, Spring.Core"/>
      <section name="parsers" type="Spring.Context.Support.NamespaceParsersSectionHandler, Spring.Core"/>
    </sectionGroup>
    <!-- Spring Framework related config -->
    <section name="databaseSettings" type="System.Configuration.NameValueSectionHandler"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages enableSessionState="true" />
    <!--Session Timeout-->
    <sessionState timeout="20" />
  </system.web>
  <GSS.Stirrup>
    <ASPXTemplate>
      <!-- 應用系統連結代碼   -->
      <add key="GSSstrAP_CONNECT_ID" value="GSSSC30"/>
    </ASPXTemplate>
    <NBase20>
      <Data/>
      <Web>
        <GlobalSettings/>
        <UISettings DateType="2" PageErrorProcess="True"/>
        <CtlSettings>
          <StateControl/>
          <CaptionLabel/>
          <IntervalTextBox/>
          <Calendar CalSaturdayColor="black" CalSundayColor="black"/>
          <ValidationDropDownList EnableSelectHint="True" SelectHintText="請選擇"/>
        </CtlSettings>
      </Web>
      <!--<Log Enabled="True" />-->
      <Log Enabled="True"/>
    </NBase20>
  </GSS.Stirrup>
  <!-- Spring Framework related config -->
  <spring>
    <parsers>
      <parser type="Spring.Data.Config.DatabaseNamespaceParser, Spring.Data"/>
      <parser type="Spring.Transaction.Config.TxNamespaceParser, Spring.Data"/>
      <parser type="Spring.Aop.Config.AopNamespaceParser, Spring.Aop"/>
    </parsers>
    <context>
      <!--assembly://<AssemblyName>/<NameSpace>/<ResourceName>-->
      <resource uri="assembly://BusinessLogicLayer/BusinessLogicLayer.SpringConfig/objects.xml"/>
      <resource uri="assembly://DataAccessLayer/DataAccessLayer.SpringConfig/objects.xml"/>
    </context>
  </spring>
  <!-- Spring Framework related config -->
  <appSettings>
    <!--系統代碼-->
    <add key="COMP_ID" value="TFB"/>
    <!--AP系統代碼-->
    <add key="AP_ID" value="TB_CLM_DEV"/>
    <add key="PHOTO_UPLOAD_PATH" value="C:\WebApp\ClipboardActiveXDemo\Upload\1\"/>
    <!--是否需要寫CSV檔案(Y:是 N:否)-->
    <add key="HAS_CSV" value="Y"/>
    <!--CSV檔案路徑-->
    <add key="CSV_PATH" value="C:/LogFiles/CSV/"/>
  </appSettings>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="AuthenticationWebService.asmx"/>
        <add value="FuncMenuWebService.asmx"/>
        <add value="WorkListWebService.asmx"/>
        <add value="ClipboardWebService.asmx"/>
        <add value="CustomWebService.asmx"/>
      </files>
    </defaultDocument>
    <httpProtocol>
      <!--以下定義為了解決Cross Domain問題, 若無此需要則可以註解掉-->
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*"/>
        <add name="Access-Control-Allow-Headers" value="Content-Type"/>
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <log4net>
    <!--紀錄SQL語法-->
    <appender name="DBRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--存放log檔案的路徑(%property{LogPath}屬性請勿任意修改)-->
      <file type="log4net.Util.PatternString" value="C:/LogFiles/%property{LogPath}/"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <!--設定檔案分割依據Date和Size-->
      <rollingStyle value="Composite"/>
      <!--設定每個檔案的大小-->
      <MaximumFileSize value="50MB" />
      <!--設定分割檔案的最大數量-->
      <maxSizeRollBackups value="20" />
      <!--log檔案的命名-->
      <datePattern value="yyyy-MM-dd-DB.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %l %newline  %message%newline%newline%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="INFO"/>
        <param name="LevelMax" value="INFO"/>
      </filter>
    </appender>
    <!--紀錄系統訊息-->
    <appender name="SystemRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--存放log檔案的路徑(%property{LogPath}屬性請勿任意修改)-->
      <file type="log4net.Util.PatternString" value="C:/LogFiles/%property{LogPath}/"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <!--設定檔案分割依據Date和Size-->
      <rollingStyle value="Composite"/>
      <!--設定每個檔案的大小-->
      <MaximumFileSize value="50MB" />
      <!--設定分割檔案的最大數量-->
      <maxSizeRollBackups value="20" />
      <!--log檔案的命名-->
      <datePattern value="yyyy-MM-dd-SYS.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %l %newline  %message%newline%newline%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="DEBUG"/>
        <param name="LevelMax" value="DEBUG"/>
      </filter>
    </appender>
    <!--紀錄錯誤訊息-->
    <appender name="ErrorRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--存放log檔案的路徑-->
      <file type="log4net.Util.PatternString" value="C:/LogFiles/%property{LogPath}/"/>
      <staticLogFileName value="false"/>
      <appendToFile value="true"/>
      <!--設定檔案分割依據Date和Size-->
      <rollingStyle value="Composite"/>
      <!--設定每個檔案的大小-->
      <MaximumFileSize value="50MB" />
      <!--設定分割檔案的最大數量-->
      <maxSizeRollBackups value="20" />
      <!--log檔案的命名-->
      <datePattern value="yyyy-MM-dd-ERROR.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %l %newline  %message%newline%newline%newline"/>
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="WARN"/>
      </filter>
    </appender>
    <root>
      <!--
      設定寫log的層級
      ALL     全寫
      DEBUG   Debug用的
      INFO    資訊  (此層級用來寫SQL Log)
      WARN    警告
      ERROR   錯誤
      FATAL   毀滅性錯誤
      OFF     關閉
       -->
      <level value="ALL"/>
      <appender-ref ref="DBRollingFileAppender"/>
      <appender-ref ref="SystemRollingFileAppender"/>
      <appender-ref ref="ErrorRollingFileAppender"/>
    </root>
  </log4net>
  <configProtectedData defaultProvider="NBase20ConnStringProvider">
    <providers>
      <add name="NBase20ConnStringProvider" type="GSS.Stirrup.NBase20.Configuration.ProtectedConnStringProvider,GSS.Stirrup.NBase20, Version=2.1.1000.3, Culture=neutral, PublicKeyToken=5298a1bd3421ecdc"/>
    </providers>
  </configProtectedData>
  <connectionStrings>
    <add name="TB_BEST" connectionString="ncSNo8Gs+IWnBU+BfTUMgk/8aGhomkXYAmBiRycw/19DinzMZjvt/vWfgw6Qf+chLS7qnPhkLhjlwIJKFFV8ZA=="/>
    <add name="COSMOS_LMB" connectionString="u/AWFH0LKrNFDB0CWeUvUPM+h2a4FdJhg9uZPDlyFItAY2w5jHk3F+Y1EIYL/iDJ1zK62hAuX/9+cj1smrxQtw=="/>
    <add name="FBU_BASE" connectionString="u/AWFH0LKrNFDB0CWeUvULDZfv3UHk3PUK4ER84UlwZ5c7uVIM40SxgNREoy7hFtQK46an68aA7am+vNqW2zVVoI9V6M08xRTXjaPg0YK04="/>
  </connectionStrings>
</configuration>